body {
    background-image: url("../html/img/webchat_background.jpg");
    opacity: 0.9;
    color: white
}
#headingtext{
    color: white
}
#float-right{
    float: right;
}
#profiletable{
    background-color: white;
    color: black;
}
#divtocheck > a{
    color: white;
}
.glyphicon{
    font-size: 25px;
    padding-right: 10px;
}