body {
    background-image: url("clean-2721103_1920.jpg");
    opacity: 0.9;
}
.chatperson{
    display: block;
    border-bottom: 1px solid #eee;
    width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 15px;
    padding: 4px;
  }
  .chatperson:hover{
    text-decoration: none;
    border-bottom: 1px solid orange;
  }
  .namechat {
      display: inline-block;
      vertical-align: middle;
  }
  .chatperson .chatimg img{
    width: 40px;
    height: 40px;
    background-image: url('http://i.imgur.com/JqEuJ6t.png');
  }
  .chatperson .pname{
    font-size: 18px;
    padding-left: 5px;
  }
  .chatperson .lastmsg{
    font-size: 12px;
    padding-left: 5px;
    color: #ccc;
  }
  .limit-item {
      height: 50%;
  }
  .avatar {
    float:  left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

#fortesting{
    display: inline;
}
section{
    width: 80%;
    margin: auto;
}
.mb-1{
float: left;
}
#lastMessage{
    float: left;
    margin-right : 20ox;

}
/* #messageBox1 {
    width: 5%;
    margin-right: 70px;
}

#messageBox {
    width: 50%;
    margin-right: 160px;
} */
#Messages{
    position: absolute;
    bottom: 0;
    /* right: 0; */
    width: 100%;
}
#textBoxformessaging{
    /* width: 40%; */
}
.chatbody{
    z-index: 9999;
    background-color: white;
    height: 75%;
    width: 104%;
    border-radius: 10px;
}
#newid{
    width: 90%;
}
#chatmenu{
    border-radius: 10px;
}